# Java
*.class
*.log
*.jar
*.war
*.ear

# Maven
target/
dependency-reduced-pom.xml
buildNumber.properties
release.properties

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

# OS
.DS_Store
Thumbs.db

# Postman
.env
.postman/